<!-- Services Section -->
    <section id="About">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class = "section-subheading" style="font-style:normal">My name is Quinn Liu. Here are my links: <br/>
                        <a href = (https://github.com/Quinnel)> Github </a><br/>
                        <a href = (https://www.linkedin.com/in/quinn-liu-38b052156/)> Linkedin </a><br/>

                        I am a sophomore at Cornell studying Computer Science and minoring in business. I have interests in design and web development.
                    </h3>
                </div>
            </div>
        </div>
    </section>

