<!-- About Section -->
    <section id="Timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted">My Cornell Journey and Projects</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                               
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jun 2018 - Present</h4>
                                    <h4 class="subheading">WearWorks</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I worked as a software engineer intern at WearWorks, working on app dev and an alexa skill. <a href = "http://www.cornellpolicyreview.com/"> AWS startups video of WearWorks,</a> I appear at the end. </p> 
                                </div>
                            </div>
                        </li>
                        <li  class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/5.JPG" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2018 - Jun 2018</h4>
                                    <h4 class="subheading">Cornell Policy Review</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I fixed some design problems for CPR's website which is hosted on wordpress. </p> <a href = "http://www.cornellpolicyreview.com/"> Cornell Policy Review</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2018</h4>
                                    <h4 class="subheading">Cornell Animal Health Hackathon</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In March, I worked with Stephanie Isenman, Robert Laughlin, and Sarah Jeon on Stay on Stray. Sarah and I worked on protoyping the app. Although the protoype is no longer available, here is the presentation of our idea.</p> <a href = "img/timeline/Stay-on-Stray.pptx">Stay on Stray</a>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Oct 2017 - May 2018</h4>
                                    <h4 class="subheading" > Human-Robot Collaboration and Companionship Research Group</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I worked for HRC under Professor Guy Hoffman on a wordpress website and then on an opensource github website. Both are linked. </p> <a href = "https://sites.coecis.cornell.edu/hrc2/">WP website</a>
                                    <a href = "http://hrc2.io">Git website</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Aug 2017 - Present</h4>
                                    <h4 class="subheading">Cornell University, College of Engineering</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">At Cornell, I studied Computer Science and minored in business. I have recieved Dean's List every semester and I am an Irwin and Joan Jacobs Scholar.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sept 2013 - Jun 2017</h4>
                                    <h4 class="subheading">Bridgewater Raritan HS</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I attended BRHS where I graduated at the top 5% of my class of 750 students. I took AP Computer Science and AP CS Principles and recieved a 5 on both AP exams.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>My CS
                                    <br>Adventure</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
